h4 {
  color: #DCDCDC;
}

a {
 text-decoration: none; 
}

.projectContainer {
   text-align: center; 
}

.projectContainer > p{
   text-align: left; 
   padding-left: 5%;
}

iframe {
  width: 95%;
  height: 50vh;
}
