h4 {
  color: #DCDCDC;
  margin-bottom: 10%;
}

h2 {
  margin-bottom: 10%;
}

a {
 text-decoration: none; 
}

.projectContainer {
   text-align: center; 
}

.projectContainer > p{
   text-align: left; 
   padding-left: 5%;
}

iframe {
  width: 95%;
  height: 50vh;
}

@media only screen and (min-width: 810px) {
  iframe {
    width: 90%;
    height: 80vh;
  }
}

