img {
  width: 30%;
  height: auto;
}

ul {
  text-align: center;
}

li {
  text-align: center;
  margin-right: 10%;
}

@media only screen and (min-width: 810px) {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  #GitHubLogo {
    width: 50%; 
    height: 50%;
    object-fit: cover;
  }
  ul > li {
    display: inline-block;
  }
}
